# generated local files
*.log

# editor files
*~
*.bak

# generated python files
*.pyc
__pycache__

# ignore for the merge to master and orphaning of the gh-pages branch
doc/build

# python notebook checkpoints
.ipynb_checkpoints

# Mac Finder files
.DS_Store
